<html>
	<head>
		<title>Admin page</title>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- jQuery Modal -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
		<style>
			table {
				border-spacing:0;
			}
			.Yes {
				background-color:lightgreen;
			}
			button[name="collected"] {
				padding: 8px;
    			background-color: aliceblue;
			}
			button[name="collected"].collected {
				background-color: darkorange;
			}
		</style>
	</head>
	<body>
		<h1>Hi admin!</h1>
		<div>
				<% if (submission!='') { %>
					<table class="formresults" align="center">
							<tr>
								<th>Submision timestamp</th>
								<th>Name</th>
								<th>Email</th>
							</tr>
							<% for (var i=0; i<submission.length; i++) { %>
								<tr class=<% if (submission[i].slackSent!='') { %><%= submission[i].slackSent %><% } %>>
									<td>
						      			<%= submission[i].submitstamp %>
						    		</td>
						    		<td>
						      			<%= submission[i].name %>
						    		</td>
						    		<td>
						      			<%= submission[i].email %>
						    		</td>
						    		<td>
						    			<button name="slack" id=<%= submission[i].email %>>Send slack!</button>
						    		</td>
						    		<td>
						    			<button name="collected" id=<%= submission[i].email %> class=<% if (submission[i].waffleCollected!='') { %><%= submission[i].waffleCollected %><% } %>></button>
						    		</td>
						    		<td>
						    			<a href="#<%= submission[i]._id %>" rel="modal:open" id=<%= submission[i].email %>>Edit</a>
						    		</td>		
								</tr>
								<div id=<%= submission[i]._id %> class="modal">
									<div>
										<p>Edit the submission:</p>
										<input type='text' name='editname' required value=<%= submission[i].name %>>
										<input type='text' name='editemail' required value=<%= submission[i].email %>>
										<button name="edit" id=<%= submission[i].email %>>Save</button>
									</div>
									<br>
									<a href="#" rel="modal:close">Close</a>
								</div>
							<% } %>
					</table>
				<% } else { %>
					<p>No submissions today yet</p>
				<% } %>
			</div>
		<h3>Add someone to the queue</h3>
		<form action="/submitadmin" method="post">
			Name:
			<input type='text' name='name' placeholder='Your name' required>
			Email:
			<input type='text' name='email' required>
			<input type="submit" name="submit" value="Submit">
		</form>





<script>
$("button[name='slack']").click(function(){
	var userEmail = $(this).attr("id"); 
	console.log(userEmail);
	var active = $(this);

	$.ajax({
		context: active,
		type: "POST",
		url: "/slack", 
		data: JSON.stringify({ email: userEmail }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
		success: function(result){
    		active.parents("tr").css({"background-color": "lightgreen"});
  		}
  	});

});

$("button[name='collected']").click(function(){
	var userEmail = $(this).attr("id"); 
	console.log(userEmail);
	var active = $(this);

	$.ajax({
		context: active,
		type: "POST",
		url: "/collected", 
		data: JSON.stringify({ email: userEmail }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
		success: function(result){
    		active.css({"background-color": "darkorange"});
  		}
  	});

});

$("button[name='edit']").click(function(){

var userEmail = $(this).attr("id"); 
var editName = $(this).siblings("input[name='editname']").val();
var editEmail = $(this).siblings("input[name='editemail']").val();
var active = $(this);

	$.ajax({
		context: active,
		type: "POST",
		url: "/edit", 
		data: JSON.stringify({ email: userEmail, newEmail: editEmail, newName: editName }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
		success: function(result){
    		active.parent().html('Changes saved!');
  		}
  	});


});
 


</script>

	</body>
</html>