<html>
	<head>
		<title>Admin page</title>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<style>
			table {
				border-spacing:0;
			}
			.Yes {
				background-color:lightgreen;
			}
		</style>
	</head>
	<body>
		<h1>Hi admin!</h1>
		<div>
				<% if (submission!='') { %>
					<table class="formresults" align="center">
							<tr>
								<th>Submision timestamp</th>
								<th>Name</th>
								<th>Email</th>
							</tr>
							<% for (var i=0; i<submission.length; i++) { %>
								<tr class=<% if (submission[i].slackSent!='') { %><%= submission[i].slackSent %><% } %>>
									<td>
						      			<%= submission[i].submitstamp %>
						    		</td>
						    		<td>
						      			<%= submission[i].name %>
						    		</td>
						    		<td>
						      			<%= submission[i].email %>
						    		</td>
						    		<td>
						    			<button name="slack" id=<%= submission[i].email %>>Send slack!</button>
						    		</td>
						    		<td>
						    			<button name="collected" id=<%= submission[i].email %>></button>
						    		</td>
								</tr>
							<% } %>
					</table>
				<% } else { %>
					<p>No submissions today yet</p>
				<% } %>
			</div>

<script>
$("button[name='slack']").click(function(){
	var userEmail = $(this).attr("id"); 
	console.log(userEmail);
	var active = $(this);

	$.ajax({
		context: active,
		type: "POST",
		url: "/slack", 
		data: JSON.stringify({ email: userEmail }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
		success: function(result){
    		active.parents("tr").css({"background-color": "lightgreen"});
  		}
  	});

});

var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
var $checkboxes = $("#checkbox-container :checkbox");

$checkboxes.on("change", function(){
  $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});

$.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});

// https://www.sitepoint.com/quick-tip-persist-checkbox-checked-state-after-page-reload/ 
</script>

	</body>
</html>