<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waffle order queue</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <style>
    #header {
      background-color: #111;
    }
    .menu-icon {
      margin-top:0px;
    }
    table {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    tr {
      background-color: #f0f0f0;
      border-bottom: 1px dotted grey;
    }
    th {
      color: white;
      padding-left: 10px;
    }
    td {
      padding: 10px;
    }
    .heading {
      background-color: darkgrey;
      border:none;
    }
  </style>
</head>

<body>
  <!--banner-->


      <header id="header">
        <div class="container">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
          </div>
          <!-- Use any element to open the sidenav -->
          <span onclick="openNav()" class="pull-right menu-icon">☰</span>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <% if (submission!='') { %>
                <table class="formresults" align="center">
                    <tr class="heading">
                      <th>Name</th>
                      <th>Email</th>
                      <th>Submision timestamp</th>
                      <th>Estimated waiting time</th>
                    </tr>
                    <% for (var i=0; i<submission.length; i++) { %>
                      <tr class=<% if (submission[i].slackSent!='') { %><%= submission[i].slackSent %><% } %>>
                          <td>
                              <%= submission[i].name %>
                          </td>
                          <td class="useremail">
                              <%= submission[i].email %>
                          </td>
                          <td>
                              <%= submission[i].submitdate %> <%= submission[i].submitmonthname %> <%= submission[i].submithour %>:<%= submission[i].submitminute %>:<%= submission[i].submitsecond %>
                          </td>
                          <td class="waitingtime">
                          </td> 
                          <td style="display:none;" class="hour"> <!-- gethours-->
                            <%= submission[i].submithour %>
                          </td>
                          <td style="display:none;" class="minute"> <!-- getminutes-->
                            <%= submission[i].submitminute %>
                          </td>
                          <td style="display:none;" class="second"> <!-- getseconds-->
                            <%= submission[i].submitsecond %>
                          </td>
                      </tr>

                    <% } %>
                </table>
          <% } else { %>
            <p>No one is in the queue!</p>
          <% } %>
        </div>
      </div>


  <!-- / banner -->


  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <script type="text/javascript">

    $(".waitingtime").each(function() {
      var now = new Date();
      var submitted = new Date();
      var submithour = $(this).siblings('.hour').text().trim();
      var submitminute = $(this).siblings('.minute').text().trim();
      var submitsecond = $(this).siblings('.second').text().trim();

      submitted.setHours(submithour, submitminute, submitsecond);
      submitted.setMinutes(submitted.getMinutes() + 5);
      var collectionTime = submitted.getHours() + ":" + submitted.getMinutes() + ":" + submitted.getSeconds();

      var x = setInterval(function() {

        var distance = submitted - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        $(".waitingtime").text(days + "d " + hours + "h " + minutes + "m " + seconds + "s ");

        if (distance < 0) {
          clearInterval(x);
          $(".waitingtime").text("Your waffle is ready!");
        }
      }, 1000);

    });



  </script>

</body>

</html>
